body {
	font-family: "STHeiti" sans-serif;
	font-weight: 300px;
	font-size: 18px;
	color: #ffffff;
	//background-image: url('images/cube-copy.jpg');
	//background-repeat: no-repeat;
	//background-attachment: fixed;
	//background-position: center;
	background-color: #323232;
	padding-left: 0px;
	padding-right: 0px;
}

header .fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 56px;
  background-color: #000000;
}

header nav {
	display: flex;
	justify-content: flex-end;
}

ul {
	list-style-type: none;
	font-size: 20px;
	margin: 0;
	padding: 0;
	//overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 14px 15px;
	text-decoration: none;
}

li a:hover {
	background-color: #323232;
	color: #ffffff;
}

.jumbotron {
	display: flex;
	align-items: center;
	background-image: url('images/cube-copy.jpg');
	//background-size: cover;
	color: #ffffff;
	height: 750px;
	text-align: right;
	margin-top: 50px;
	margin-bottom: 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

section .row {
	border-bottom: 1px solid #000;
	padding-top: 60px;
}

#name {
	font-size: 64px;
	font-family: "Tsukushi A Round Gothic";
	text-shadow: 1px 1px 2px #ffffff;
}

section#carousel > figure > img {
	display: none;
	margin: 0px auto;
	border-radius: 5px;
	height: 400px;
}

section#carousel > figure.visible > img {
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	height: 400px;
}

section#carousel > figure > figcaption {
	display: none;
}

section#carousel > figure.visible > figcaption {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}

.family {
	text-align: center;
	letter-spacing: 2px;
}

span {
	font-weight: bold;
}

.email {
	color: #ffffff;
	font-family: "STHeiti";
}

.container-resume {
	//background-image: url('images/007.jpg');
	width: 100%;
	//background-repeat: no-repeat;
	//background-attachment: fixed;
	//background-position: center;
}

.col-sm-3 {
	padding-left: 80px;
	letter-spacing:  2px;
}

footer {
	background-color: #000008;
	padding-top: 12px;
	display: block;
	overflow: auto;
}

.col-sm-2 {
	font-size: 10px;
}

.col-sm-6 {
	padding-right: 20%;	
}

@media (max-width: 480px)
{
	ul {
		font-size: 4vw;
	}
}

/*Use this class when you want your content to be hidden*/
.BeforeScroll
{
  height: 100px; /*Whatever you want*/
  width: 100%; /*Whatever you want*/
  .
  .
  display: none;
}


/*Use this class when you want your content to be shown after some scroll*/
.AfterScroll
{
  height: 100px; /*Whatever you want*/
  width: 100%; /*Whatever you want*/
  .
  .
  display: block;
}
